@import url('reset.css');
@import url('global.css');
@import url('components/_navigator.css');
@import url('components/_pills.css');
@import url('components/_link-button.css');
@import url('components/_gallery.css');

.s-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap; 
}

.s-wrapper video{
  position: fixed;
  width: 100%;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.s-wrapper .s-left-column {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-right: 50px;
  left: 0;
  top: 0;
  z-index: 1;
}

.s-wrapper .s-main-content{
  height: 100%;
  width: 100%;
  padding-left: 130px;
  position: relative;
}

.s-wrapper .s-main-content__top {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.s-wrapper .s-main-content .s-logo {
  height: 100px;
  margin-bottom: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.s-wrapper .s-main-content .s-logo img{
  height: 100%;
}

.s-wrapper .s-main-content__top .s-description{
  background-color: rgba(0,0,0,.7);
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p{
  color: white;
  line-height: 170%;
}

.s-wrapper .s-main-content__top .s-description .pills{
  margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links{
  padding: 20px;
  padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul{
  display: flex;
  flex-direction: row;
}

.s-spiderman-01-01 {
  background-image: url('../images/spiderman-tobey/movie-01/background.png');
  background-size:cover;
}

.s-spiderman-01-02 {
  background-image: url('../images/spiderman-tobey/movie-02/background.png');
  background-size: cover;
}

.s-spiderman-01-03 {
  background-image: url('../images/spiderman-tobey/movie-03/background.png');
  background-size: cover;
}

.image-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  max-width: 60%;
}

.image-list li{
  height: 203px;
  width: 352px;
}

.image-list li img {
  width: 100%;
  height: 100%;
} 


@media screen and (max-width: 500px) {
  
  .s-wrapper {
    flex-direction: column;
    height: auto;
  }

  .s-wrapper .s-left-column {
    position: static;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .s-wrapper .s-main-content {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .s-wrapper .s-main-content .s-logo {
    max-width: 100vw;
    margin: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .s-wrapper .s-main-content .s-logo img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .s-wrapper .s-main-content__top .s-description {
    max-width: 100%;
    height: fit-content;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

  .pills ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .pills ul li {
    margin: 0;
  }

  .s-links {
    margin: auto;
  }
  
  .gallery {
    margin-top: 30px;
    padding: 10px;
  }
  
  .image-list li{
    height: auto;
    width: 100%;
  }
  
  .s-wrapper .s-main-content__bottom {
    height: auto;
    margin-top: 10px;
  }
}